

.board {width:100%;
border-collapse: collapse;
}
.board thead tr th {height:100px; font-size:24px;}

#gallery_board {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

#gallery_board .gallery_card {min-width: 0;}

#gallery_board .gallery_card a {
    text-decoration:none;
    color:var(--black);
}

#gallery_board .gallery_card .gallery_thumbnail {
    width:100%;
    padding-top:100%;
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
    background-color:gray;
    border-radius: 10px;
    overflow: hidden;
    position:relative;
    transition:.5s;

}
#gallery_board .gallery_card .gallery_thumbnail:hover {
    box-shadow: 0px 0px 30px rgba(0,0,0,.3);
}

#gallery_board .gallery_card .gallery_thumbnail:before {
    content:"";
    position:absolute; top:0;right:0;bottom:0;left:0;
    background:inherit;
    transition:inherit;
}

#gallery_board .gallery_card .gallery_thumbnail:hover:before{
    transform: scale(1.2);
}


#gallery_board .gallery_card .title {
    font-size:30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width:100%;
    font-weight: bold;
    padding:10px 0;
}

.board tbody tr td {height:100px; border-bottom: 1px solid #ddd; font-size:24px;}

.document .document_info h1 {font-size:60px; text-align:center;}
.document .document_info h1 a {color: #333; text-decoration:none;}
.document .document_info {border-bottom: 1px solid #333; padding:50px 0;}
.document .document_info ul {text-align:center; margin-top:30px;}
.document .document_info ul li {display:inline-block; margin-left:30px;}
.document .document_info ul li:first-child {margin-left:0;}
.document .content {padding:50px 0; font-size:20px;}
.document .content img {max-width:100%;}
.comments {}
.comments .comment_counter {font-size:40px; padding:15px 0;}
.comments .comment {border:1px solid #ddd; border-left:none; border-right:none; padding:30px 0;}
.comments .comment .commenter {font-size:28px;}
.comments .comment .content {font-size:24px;}


.anonymous_msg {font-size:30px; text-align: center;}

.board_section {margin-top:120px; border-top:1px solid #ddd;}

@media screen and (max-width: 768px) {
    .board tr th:nth-child(1),
    .board tr td:nth-child(1),
    .board tr th:nth-child(4),
    .board tr td:nth-child(4)
    {
        display:none
    }

    .container header {padding:15px;}
    .btn {margin-left:15px;}

    #gallery_board {
        padding:15px;
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 30px;
    }

    .document .content {
        max-width:100%;
        overflow: hidden;
        word-break:break-word;
    }
}


