
.member_section {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
}

.member_section .card_section {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.member_section h1 {font-family: var(--hansans); color:var(--black); padding:20px;}

.human {border-radius: 3px; box-shadow: 1px 1px 3px rgba(0,0,0,.3); transition: .5s;}
.human:hover {box-shadow: 1px 1px 30px rgba(0,0,0,.3);}
.human .github {padding:0 15px 15px 15px;}

.human .human_container {padding:15px;}
.human .human_container .profile_img div {
    height:80px;
    width:80px;
    border-radius: 50px;
    background-size:cover;
    background-position:center center;
}
.human .human_container {display:flex; flex-direction: row;}
.human .human_container .information {margin-left:20px; flex:1;}
.human .human_container .information ul .name {font-weight: bold; font-size:20px;}
.human .human_container .information ul li {line-height:40px;}
.human_container .information ul li,
.human_container .information ul li a {font-family: var(--hansans);}


.btn {padding:10px 15px; background: var(--primary); color:#fff; font-size:14px; transition: .5s; display:inline-block;}
.btn:hover {background: var(--primaryhover);}


.human .human_container .information .btn {padding:0 5px; font-size:24px; margin-right:10px;}
