:root {
    --white : #fff;
    --lightgrey: #eeeeee;
    --black : #333;
    --primary:#5ec4be;
    --primaryhover:#5bb6b0;
    --hansans: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    --nanummyeongjo : 'Nanum Myeongjo', 'serif';
    --nanumbarungothic:'NanumBarunGothic';
    --ibm:'IBMPlexSansKR-Light';
    --scoredream:'S-CoreDream-1Thin';
    --w:rgb(66, 138, 255);
    --i:rgb(236, 38, 61);
    --n:rgb(242, 170, 24);
    --k:rgb(65, 224, 37);
}


body, ul, li, h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding:0;
}
ul {list-style:none;}
body {
        overflow-x:hidden;
}

.container {width:1280px; margin:0 auto;}

#main_header {
    position:fixed;
    z-index: 10;
    top:0;
    left:0;
    right:0;
    width:100%;
    height:100px;
    transition: .5s;
}
#main_header .logo {float:left; padding:10px;}
#main_header .logo a {text-decoration: none; border:none; position:relative;}
#main_header .logo img {vertical-align: middle; height:80px;position:absolute;transition: .5s;}
#main_header .logo img:last-child {margin-left:8px;position: absolute;}

#main_header .mob_btn {display:none;}
#main_header .mob_btn>* {position:absolute;right:25px; top:25px; width:30px; height:30px;}
#main_header .mob_btn>*:last-child {visibility: hidden}

#main_header #main_menu {float:right; line-height:100px;}
#main_header #main_menu ul {list-style:none;}
#main_header #main_menu li {
    list-style:none;
    display:inline-block;
    margin-right: 37px;
    font-family: var(--hansans);
    letter-spacing: 0.05em;
}
#main_header #main_menu li:last-child {margin:0;}
#main_header #main_menu li a {text-decoration:none; color:rgba(255,255,255,0.5); font-size:18px; transition: .5s}
#main_header #main_menu li a:hover,
#main_header #main_menu li.active a {color:var(--white);}

#main_header #main_menu li ul {visibility: hidden; opacity: 0; position:absolute; transition: .3s; line-height:70px;  padding:0 15px;}
#main_header #main_menu li:hover ul {visibility: visible; opacity: 1;}
#main_header #main_menu li ul>li {display:block;}

#main_banner {position:relative; width:100%; height:100vh; }
#main_banner .banner_cover ,
#main_banner .banner_image {
    position:absolute; left:0; width:100%;
    height:100%;
    top:0;
}

#main_banner .banner_image:after{
    content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.4);
	background-image: radial-gradient(rgba(0,0,0,.4) 33%, transparent 33%);
	background-size: 4px 4px;
}
#main_banner .banner_image {
    z-index:1; background-repeat:no-repeat; background-position: center center;
    background-size:cover;
    transition: 1.5s;
}

#main_banner .banner_image .banner_title {
    height:100%;
    width:100%;
    color:var(--white);
    display:flex;
    flex:1;
    justify-content: center;
    align-items: center;
    position:absolute;
    z-index:3;
}
#main_banner .banner_image .banner_title h2 {
    font-size:48px;
    font-weight: 100;
    font-family: var(--hansans);
    letter-spacing: 3px;
    text-shadow: 3px 3px 20px rgba(0,0,0,.5);
}

.main_section .container {padding:100px 0;}

.main_section header h1,
.main_section .image_article.project .container header h1
{
    font-family: var(--hansans);
    font-size:80px;
    font-weight: 400;
}



.section_content h2,
.main_section .image_article.project .container h2

{
    font-size:48px;
    font-weight: normal;
    font-family: var(--hansans);
}
.section_content p,
.main_section .image_article.project .container p
{
    font-size:24px;
    line-height:38px;
}

.main_section .image_article {
    width:100%;
    height:400px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
}

.main_section .image_article.project {
    position:relative;
    height:100vh;
    background-position:center right;

    background-size:contain;

}
.main_section .image_article.project .container {
    position:relative;
    z-index:9;
    color:white;
}

.main_section .image_article.project:after {
    content: '';
    position:absolute;
    left:0;right:0;top:0;bottom:0;
    background:rgba(0,0,0,.5)

}

.area_view{
    display:grid;
    grid-template-columns: repeat(3, 1fr);

}
.area_view>*>h3 {
    position:absolute;
    z-index:10;
    font-family: var(--hansans);
    font-size:30px;
    color:white;
        text-shadow:1px 1px 20px rgba(0,0,0,.5);
    text-align:center;

    transition: inherit;
}

.area_view>* {
    display:flex;
    justify-content: center;
    align-items: center;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    transform: scale(1,1);
    height:50vh;
    position:relative;
    /*filter: blur(6px);*/
    transition: .5s;
    overflow:hidden;
}

.area_view>*:hover>h3 {
    text-shadow:1px 1px 20px rgba(255,255,255,.5);

}

.area_view>*:after {
    content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
    transition: inherit;
}
.area_view>*:hover:after {
    background:rgba(0,0,0,0);
}

.area_view>*:before {
    content:"";
    position:absolute; top:0;right:0;bottom:0;left:0;
    background:inherit;
    transition:inherit;
}

.area_view>*:hover:before{
    transform: scale(1.2);
}




#sub_banner {
    width:100%;
    height:600px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    position:relative;
}
#sub_banner:after{
    content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.4);
    z-index:2;
	/*background-image: radial-gradient(rgba(0,0,0,.4) 33%, transparent 33%);*/
	/*background-size: 4px 4px;*/
}

#sub_banner {display:flex; justify-content: center; align-items: center; margin-bottom:50px}

#sub_banner h1 {
    font-size:48px;
    color:white;
    position:relative;
    z-index:3;
    font-weight: normal;
    font-family: var(--nanumbarungothic);
    letter-spacing: .2em;
}
#sub_banner b {opacity: 0; transition: 1s;font-size:10px;}
#sub_banner b:nth-child(1) {color:var(--w);}
#sub_banner b:nth-child(2) {color:var(--i);}
#sub_banner b:nth-child(3) {color:var(--n);}
#sub_banner b:nth-child(4) {color:var(--k);}



#main_footer {
    background:var(--black);
    color:var(--lightgrey);
    padding:30px 0;
}
#main_footer .together h1 {padding-bottom:30px;}
#main_footer .together ul {text-align:center;}
#main_footer .together ul li {display:inline-block;}
#main_footer .together ul li img {height:80px;}

.form_box {width:500px; margin:0 auto; padding-bottom:50px;}
.form_box label {font-size:24px; margin:10px 0; display:block;}

.member_link {font-size:20px; text-align:center; margin-bottom:30px;}

.btn {font-size:20px; padding:15px; background: #7d7d7d; color:white; text-decoration: none; border:none; border-radius:5px; transition: .3s;}
.btn.primary {background: #399bdd;}
.btn.primary:hover {background:#2872DD;}

.alert {
    padding:30px;
    background: #93e1a1;
    color:var(--white);
    font-size:24px;
    text-shadow:1px 1px 1px rgba(0,0,0,.3);
    border-radius: 15px;
}
.alert.alert-danger { background: #e1615b;}

.human_container {position:relative;}

.myinfo {
    display:grid;
    grid-template-columns: 30% 70%;
    grid-column-gap: 30px;
}
.myinfo>* {font-size:30px; padding:15px 0;}
.myinfo>*:first-child { text-align: right; font-weight: bold;}
.myinfo>*:last-child {}


.emoji_btn {position:absolute; right:15px;}
.emoji_btn>.btn {background:none; padding:10px; color:#333; font-size:24px; cursor:pointer;}
.emoji_btn>.btn:hover {background:#eee;}

.emoji_modal {
    display:none;
    position:absolute;
    right:0;
    width:250px;
    background:#fff; z-index:10;
    box-shadow: 1px 1px 20px rgba(0,0,0,.5);
    padding:15px;
}
.emoji_modal h1 {
    font-family: var(--hansans);
}
.emoji_modal ul li {
    display:inline-block;
    padding:5px;
    text-align:center;
    border-radius: 4px;
    transition: .5s;
    cursor:pointer;
}
.emoji_modal li:hover {background:#eee;}

.user_emojis ul li {display:inline-block;}

input[type='text'],
textarea,
input[type='password'],
input[type='email'],
input[type='number'],
input[type='url'],
input[type='date']
{
    border:none;
    padding:15px;
    background: #eee;
    transition: .3s;
    outline: none;
    border-radius:5px;
    color: #333333;
    font-size:24px;
    width:100%;
}

input[type='text']:hover, textarea:hover {
    background: #f8f8f8;
}

input[type='text']:focus, textarea:focus {
    background: #f8f8f8;
}

.block_ie {
    display:none;
    position: fixed;
    top:0; left:0; right:0; bottom:0;
    background:rgba(0,0,0,.6);
    z-index:999;

}
.block_ie h1 {
    position:absolute;
    top:40%;
    color:white;
    text-align:center;
    line-height: 2em;
}

@media screen and (max-width: 768px) {
    .container {width:100%;
    /*overflow-x:hidden;*/
    }
    #main_header {height:80px;}
    #main_header .logo img {height:60px;}
    #main_banner .banner_image {
        background-size: cover;
    }
    #main_banner .banner_image .banner_title h2{
        padding:0 30px;
        font-size:30px;
        word-break: keep-all;
        line-height:60px;
        text-align:right;
    }

    .main_section header {padding:0 30px;}
    .main_section header h1 {font-size:40px;margin-bottom:30px;}
    .section_content {padding:0 30px;}
    .section_content h2 {font-size: 24px;}
    .section_content p {font-size:18px;}

    .area_view {grid-template-columns: repeat(1, 1fr)}

    .main_section header h1, .main_section .image_article.project .container header h1
    {
        font-size:40px;
    }
    .section_content h2, .main_section .image_article.project .container h2{
        font-size:24px;
    }
    .section_content p, .main_section .image_article.project .container p {
        font-size:16px;
    }
    .main_section .image_article.project .container h2,
    .main_section .image_article.project .container p {
        padding:30px;
    }
    .main_section .image_article.project .container a {margin-left:30px;}
    /* footer */
    #main_footer .together h1 {padding:15px;}
    #main_footer .together ul li {padding:30px;}
    #main_footer .together ul li img {height:auto; width:100%;}
    #main_header .mob_btn {display:block;}
    #main_header #main_menu {
        visibility: hidden;
        opacity: 0;
        transition: .3s;
        background-color:rgba(0,0,0,.5);
        position:fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
    }
    #main_header #main_menu ul {
        width:70%;
        background-color:white;
        position:absolute;
        right:0;
        bottom:0;
        top:0;
        padding-left:30px;
    }
    #main_header #main_menu ul li {display:block;}
    #main_header #main_menu ul li a {display:block;}
    #sub_banner {height:400px;text-align:center;}
    #sub_banner h1 { font-size:30px;}


    input[type='text'],
    textarea,
    input[type='password'],
    input[type='email'],
    input[type='number'],
    input[type='url'],
    input[type='date'] {
        width:85%;
    }

    .form_box{
        width:100%;
    }



}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
    .block_ie {display:block;}
}
/*@media screen and (min-width: 480px) {*/

/*}*/
/*@media screen and (min-width: 768px) {*/

/*}*/

/*@media screen and (min-width: 1024px) {*/

/*}*/