{% extends 'base.html' %}
{% block container %}
    {% include '../component/banner.html' %}
    <div class="container">
        <header>
            <h1>{{ board.information.name }}</h1>
            <p>{{ board.information.description }}</p>
        </header>
        <section>
            <div>
                {% if board.information.write_permission <= user.position %}
                    <a href="{% url 'write' board_name=board.information.board_code %}" class="btn primary">글쓰기</a>
                {% endif %}
            </div>
            <table class="board">
                <thead>
                    <tr>
                        <th>번호</th> <th style="width:50%;">제목</th> <th>작성자</th> <th>날짜</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in board.documents %}
                        <tr>
                            <td>{{ item.id }}</td> <td><a href="{% url 'document' board_name='recruitment' document_id=item.id %}">{{ item.title }}</a></td> <td>{{ item.owner.student_number|slugify|slice:"2:4" }}학번 {{ item.owner.name }}</td> <td>{{ item.make_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

    </div>

{% endblock %}