<div class="human">
    <div class="human_container">
        {% if user.is_authenticated %}
            <div class="emoji_btn">
                <button class="btn" onclick="this.parentNode.children[1].style.display='block'"><i class="xi-emoticon-happy-o"></i></button>
                <div class="emoji_modal">
                    <h1>WINK EMOJI PICKER</h1>
                    <ul data-user-id="{{ item.id }}">
                        <li data-char=":heart:">❤️</li>
                        <li data-char=":see_no_evil:">🙈️</li>
                        <li data-char=":smiling_imp:">👿️</li>
                        <li data-char=":kissing_heart:">️😘</li>
                        <li data-char=":+1:">👍️</li>
                        <li data-char=":-1:">👎️</li>
                        <li data-char=":stuck_out_tongue_winking_eye:">😜</li>
                        <li data-char=":symbols_over_mouth:">🤬</li>
                        <li data-char=":fire:">🔥</li>
                        <li data-char=":beer:">🍺️</li>
                    </ul>
                    <div style="text-align:right;">
                        <button onclick="this.parentNode.parentNode.style.display='none'" class="btn">닫기</button>

                    </div>
                </div>
            </div>
        {% endif %}
        <div class="profile_img">
            <div style="background-image:url('/{{ item.profile_thumbnail }}');"></div>
        </div>
        <div class="information">
            <ul>
                <li class="name">
                    {% if item.position != 20 %}
                        {{ item.student_number|slugify|slice:"2:4" }}학번
                    {% endif %}
                    {{ item.name }}
                </li>

                {% if item.prev_position %}
                    <li>{{ item.prev_position }}</li>
                {% else %}
                {% if item.position %}
                    <li>{{ item.get_position_display }}</li>
                    {% endif %}
                {% endif %}


                {% if item.description %}
                <li>{{ item.description }}</li>
                {% endif %}

                <li>
                    {% if item.github_url %}
                    <a href="{{ item.github_url }}" target="_blank" class="btn">
                        <i class="xi-github"></i>
                    </a>
                    {% endif %}

                    {% if item.website_url %}
                    <a href="{{ item.website_url }}" target="_blank" class="btn">
                        <i class="xi-home"></i>
                    </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
{#    <div class="github">#}
{#        Last contributions : <span class="time" data-time="{{ item.github.updated_at }}"></span>#}
{#        <div class="user_emojis">#}
{#            <ul>#}
{#                {% for emoji in item.emoji %}#}
{#                        <li class="emoji">{{ emoji.content }}</li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
</div>