{% load static %}
<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Web In  Kookmin</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/board.css">
    <link rel="stylesheet" href="/static/css/member.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">

</head>
<body>
    <header id="main_header">
        <div class="container">
            <h1 class="logo">
                <a href="/">
                    <img src="/static/assets/logo/wink-white.png" style="visibility: visible; opacity: 1;" alt="Web in Kookmin">
                    <img src="/static/assets/logo/wink-color.png" style="visibility: hidden; opacity: 0;" alt="Web in Kookmin">
                </a>
            </h1>
            <nav id="main_menu">
                <ul>
                    <li class="active"><a href="">WINK</a></li>
                    <li class="active"><a href="{% url 'members' %}">Organization</a></li>
                    <li><a href="{% url 'board' board_name='project' %}">PROJECT</a></li>
                    <li><a href="{% url 'board' board_name='recruitment' %}">모집공고</a></li>

                    <li>
                        {% if user.is_authenticated %}
                        <a href="#">
                            {{ user.student_number }} {{ user.name }}
                            <ul>
                                <li><a href="{% url 'profile' id=request.user.id %}">마이페이지</a></li>
                                {% if user.is_staff %}
                                <li><a href="/admin/" target="_blank">관리자페이지</a></li>
                                {% endif %}
                                <li><a href="{% url 'logout' %}">로그아웃</a></li>
                            </ul>
                        </a>
                        {% else %}
                        <a href="{% url 'login' %}">로그인</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block container %}
        {% endblock %}
    </main>
    <footer id="main_footer">
        <div class="container">
            <div class="together">
                <h1>Together</h1>
                <ul>
                    <li><img src="/static/images/footer/kookmin_logo_black.png" alt="국민대학교 소프트웨어융합대학"></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="/static/js/time.js"></script>
    <script src="/static/js/emoji.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>