{% load static %}
<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Web In  Kookmin</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/board.css">
    <link rel="stylesheet" href="/static/css/member.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <meta property="og:image" content="https://wink.kookmin.ac.kr/static/assets/logo/wink-color.png">
    <meta property="og:title'" content="WINK, Web In Kookmin">
    <meta property="og:description" content="국민대학교 소프트웨어융합대학 웹 전공 학술 동아리">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/seo/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/seo/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/seo/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/seo/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/seo/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/seo/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/seo/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/seo/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/seo/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/seo/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/seo/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/seo/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/seo/favicon-16x16.png">
    <link rel="manifest" href="/static/seo/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div class="block_ie">
        <h1>윙크 웹 사이트는 익스플로러 브라우저를 지원하지 않습니다. 크롬, 파이어폭스, 사파리 등 최신 브라우저를 통해 보안을 유지하세요.</h1>
    </div>
    <header id="main_header">
        <div class="container">
            <h1 class="logo">
                <a href="/">
                    <img src="/static/assets/logo/wink-white.png" style="visibility: visible; opacity: 1;" alt="Web in Kookmin">
                    <img src="/static/assets/logo/wink-color.png" style="visibility: hidden; opacity: 0;" alt="Web in Kookmin">
                </a>
            </h1>
            <div class="mob_btn">
                <img src="/static/assets/menu_white.svg" alt="">
                <img src="/static/assets/menu_black.svg" alt="">
            </div>
            <nav id="main_menu">
                <ul>
                    <li><a href="/">동아리 소개</a></li>
                    <li><a href="{% url 'members' %}">동아리 구성원</a></li>
                    <li><a href="{% url 'board' board_name='project' %}">프로젝트</a></li>
                    <li><a href="{% url 'board' board_name='study' %}">스터디</a></li>
                    <li><a href="{% url 'board' board_name='recruitment' %}">모집공고</a></li>

                    <li>
                        {% if user.is_authenticated %}
                        <a href="#">
                            {{ user.student_number }} {{ user.name }}
                            <ul>
                                <li><a href="{% url 'profile' id=request.user.id %}">마이페이지</a></li>
                                {% if user.is_staff %}
                                <li><a href="/admin/" target="_blank">관리자페이지</a></li>
                                {% endif %}
                                <li><a href="{% url 'logout' %}">로그아웃</a></li>
                            </ul>
                        </a>
                        {% else %}
                        <a href="{% url 'login' %}">로그인</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block container %}
        {% endblock %}
    </main>
    <footer id="main_footer">
        <div class="container">
            <div class="together">
                <h1>Together</h1>
                <ul>
                    <li><img src="/static/images/footer/kookmin_logo_black.png" alt="국민대학교 소프트웨어융합대학"></li>
                </ul>
            </div>
        </div>
    </footer>
    <div class="easter"></div>

    <script src="/static/js/time.js"></script>
    <script src="/static/js/emoji.js"></script>
    <script src="/static/js/script.js"></script>
    <script src="/static/js/sub_banner.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177518808-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-177518808-1');
    </script>

</body>
</html>