{% extends 'base.html' %}
{% block container %}
    <script src="/static/js/banner.js"></script>
    <div id="main_banner">
        <div class="banner_image" style="background-image:url('/static/images/5.jpg');  opacity: 0">
            <div class="banner_title">
                <h2><b>해커톤, 공모전, 컨퍼런스</b> 지속적인 참여</h2>
            </div>
        </div>
        <div class="banner_image" style="background-image:url('/static/images/1.jpg');">
            <div class="banner_title">
                <h2>WINK와 함께하는 <b>재능나눔, 코딩교육</b></h2>
            </div>

        </div>
        <div class="banner_image" style="background-image:url('/static/images/2.jpg'); opacity: 0">
            <div class="banner_title">
                <h2>스터디를 통한 끊임없는 <b>배움</b></h2>
            </div>
        </div>
        <div class="banner_image" style="background-image:url('/static/images/3.jpeg'); opacity: 0">
            <div class="banner_title">
                <h2>내 생각을 <b>팀원들과</b> 현실로</h2>
            </div>
        </div>
        <div class="banner_image" style="background-image:url('/static/images/4.jpg');  opacity: 0">
            <div class="banner_title">
                <h2><b>프로젝트, 서비스런칭</b> 적극 지원</h2>
            </div>
        </div>
    </div>

    <section class="main_section">
        <div class="container">
            <header>
                <h1>WHAT DOES A WINK DO?</h1>
            </header>
        </div>
    </section>
{% endblock %}
