{% extends 'base.html' %}
{% block container %}
    <script src="/static/js/banner.js"></script>
    <div id="main_banner">
        <div class="banner_image" style="background-image:url('/static/images/5.jpg');  opacity: 0">
            <div class="banner_title">
                <h2><b>해커톤, 공모전, 컨퍼런스</b> 지속적인 참여</h2>
            </div>
        </div>
        <div class="banner_image" style="background-image:url('/static/images/1.jpg');">
            <div class="banner_title">
                <h2>WINK와 함께하는 <b>재능나눔, 코딩교육</b></h2>
            </div>

        </div>
        <div class="banner_image" style="background-image:url('/static/images/2.jpg'); opacity: 0">
            <div class="banner_title">
                <h2>스터디를 통한 끊임없는 <b>배움</b></h2>
            </div>
        </div>
        <div class="banner_image" style="background-image:url('/static/images/3.jpeg'); opacity: 0">
            <div class="banner_title">
                <h2>내 생각을 <b>팀원들과</b> 현실로</h2>
            </div>
        </div>
        <div class="banner_image" style="background-image:url('/static/images/4.jpg');  opacity: 0">
            <div class="banner_title">
                <h2><b>프로젝트, 서비스런칭</b> 적극 지원</h2>
            </div>
        </div>
    </div>

    <section class="main_section">
        <div class="container">
            <header>
                <h1>What is WINK</h1>
            </header>
            <div class="section_content">
                <h2>
                    Web IN Kookmin 전공 웹 학술 동아리
                </h2>
                <p>
                    윙크는 웹을 기반으로 한 학술 동아리이지만
                    디자인, 프론트엔드 프로그래밍, 백엔드 프로그래밍, 서버/클라우드, IOT 등 다양한 스터디와 프로젝트 진행을 지원합니다.
                    또한 팀원들과 협업 프로젝트를 진행을 위한 방법을 서로 공유하고 실제 서비스 런칭을 위해 지적, 물적 자원을 지원합니다.
                </p>
            </div>
        </div>
        <div class="image_article" style="background-image:url('/static/images/article/IMG_2586.jpg');"></div>

        <div class="container">
            <header>
                <h1>What is WINK</h1>
            </header>
            <div class="section_content">
                <h2>
                    Web IN Kookmin 전공 웹 학술 동아리
                </h2>
                <p>
                    윙크는 웹을 기반으로 한 학술 동아리이지만
                    디자인, 프론트엔드 프로그래밍, 백엔드 프로그래밍, 서버/클라우드, IOT 등 다양한 스터디와 프로젝트 진행을 지원합니다.
                    또한 팀원들과 협업 프로젝트를 진행을 위한 방법을 서로 공유하고 실제 서비스 런칭을 위해 지적, 물적 자원을 지원합니다.
                </p>
            </div>
        </div>
        <div class="image_article" style="background-image:url('/static/images/article/IMG_2594.jpg');"></div>
    </section>
{% endblock %}
