{% extends "base.html" %}
{% block container %}
{% include 'component/banner.html' %}


<div class="container">
    {% include 'component/human_card.html' %}
    <div class="form_box">
        {% include 'form_error.html' %}
        <form method="post" action="{% url 'profile' id=user.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">수정하기</button>
        </form>
    </div>
</div>

{% endblock %}